.input {
    
    display: flex;
    width: auto;
    margin-top: 30px;
    position: initial;
    justify-content: center;
    align-items: center;
}

.preview {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #79A7FF;
}
