/* Typeracer Header in Top Middle of Screen */
.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  background-color: #79A7FF;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.heading {
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.result {
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 120px;
}

.timer {
  display:flex;
  font-size: 45px;
  color: white;
  justify-content: center;
  align-items: center;
}