.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #79A7FF;
}
/* Typeracer Header in Top Middle of Screen */
.heading {
  font-size: 40px;
  color: beige;
  justify-content: center;
  text-align: center;
  z-index: 1;
}